@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    /* background-color: #fcf3f6; */
}

h1 {
    font-size: 2.5rem;
    color: #2c292b;
}

h2 {
    font-size: 1.5rem;
    color: #2c292b;
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(135deg, #e2b0ff 30%, #9f44d3 100%);
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);

    justify-content: center;

    margin: 0 auto;
    /* padding: 5rem; */
    border-radius: 5rem;
}

.display {
    grid-column: 1 /-1;
    /* background-color: rgb(160, 120, 168); */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 2rem;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0.7rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
}

.prev-diplay {
    font-size: 1.5rem;
}

.span2 {
    grid-column: span 2;
}

.number-btn,
.operant-btn {
    font-size: 2rem;
    outline: none;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.6);
    /* border: none; */
}

:is(.number-btn, .operant-btn):hover {
    background-color: rgba(255, 255, 255, 0.9);
}
